<div class="hero">
    <div class="gallery">
        <div class="item"><img src="../../../../assets/img/nft.jpg" alt=""></div>
        <div class="item"><img src="../../../../assets/img/nft2.jpg" alt=""></div>
        <div class="item"><img src="../../../../assets/img/nft3.jpg" alt=""></div>
        <div class="item"><img src="../../../../assets/img/nft4.jpg" alt=""></div>
        <div class="item"><img src="../../../../assets/img/nft5.jpg" alt=""></div>
        <div class="item"><img src="../../../../assets/img/nft6.jpg" alt=""></div>
        <div class="item"><img src="../../../../assets/img/nft7.jpg" alt=""></div>
        <div class="item"><img src="../../../../assets/img/nft8.jpg" alt=""></div>
        <div class="item"><img src="../../../../assets/img/nft9.jpg" alt=""></div>
        <div class="item"><img src="../../../../assets/img/nft10.jpg" alt=""></div>
        <div class="item"><img src="../../../../assets/img/nft.jpg" alt=""></div>
        <div class="item"><img src="../../../../assets/img/nft2.jpg" alt=""></div>
    </div>
</div>

<script src="../../../../assets/script.js"></script>
