<h1 class="text-center m-5">The Nft's place</h1>

<app-carousel></app-carousel>

<div class="card-group container">

    <div *ngFor="let nft of nftList">
        <div class="card m-3" style="width: 18rem;">
              <a class="navbar-brand" href="#">
                <p>oijQO</p>
              </a>
            <img src="{{nft.pathImage}}" class="card-img-top p-3" alt="...">
            <div class="card-body">
              <h4 class="card-title text-center">{{nft.name}}</h4>
              <p class="card-text">Prix : {{nft.price}} ETH</p>
              <p class="card-text">{{nft.date}}</p>
              <a href="#" class="btn btn-primary">Acheter</a>
            </div>
          </div>
    </div>
</div>
