h1, p {
    color: white;
}
.card {
    background-color: rgba(0, 0, 0, 0.3);
}

img {
    border-radius: 40px;
    color: white;
}

.btn {
    background-color: yellow;
}

h5 {
    background-color: yellow;
}

a img {
    width: 30px;
    color: white;
}

.nft {
    position: relative;
    display: inline-block;
}

.like {
    position: absolute;
    top: 20px;
    right: 25px;
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 5px 5px;
    border-radius: 15px;
    cursor: pointer;
}
