<nav class="navbar navbar-expand-md bg-light navbar-light fixed-topd bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="https://creazilla-store.fra1.digitaloceanspaces.com/cliparts/20950/yellow-star-clipart-md.png" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
      MarketPlace
    </a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mx-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="">Accueil</a>
        </li>
        <!-- CATEGORIES -->
        <li class="nav-item">
          <a class="nav-link" routerLink="/nft">NFT</a>
        </li>
        
        <!-- /CATEGORIES -->
        <li class="nav-item">
          <a class="nav-link" routerLink="/eth">ETH</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="">A propos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="">Contact</a>
        </li>
        <li class="nav-item" *ngIf="checkIsLogged()">
          <a class="nav-link" (click)="logout()">se déconnecter</a>
        </li>
        <li class="nav-item" *ngIf="!checkIsLogged()">
          <a class="nav-link" routerLink="/login">Connexion</a>
        </li>
      </ul>
    </div>
  </div>
</nav>