<h1 class="text-center mt-5">Découvrez et achetez des collections exceptionnelles</h1>
<h2 class="text-end mb-5 mx-5">NFT</h2>


<!-- barre de recherche -->
<div class="input-group w-50 mx-auto">
  <input type="text" class="form-control px-2" placeholder="Nom, utilisateur...">
  <div class="input-group-append">
      <button type="button" class="btn btn-dark btn-lg mx-2 px-4">Recherche</button>
  </div>
</div>
<!-- / barre de recherche -->

<h3 class="mt-5">Top seller</h3>

<!-- card -->
<div class="card m-5 mx-auto w-75" id="card">
  <div class="row">
    <div class="col-md-4">
      <img src="../../../assets/img/nft.jpg" class="img-fluid m-2" alt="...">
    </div>
    <div class="col-md-8 px-4">
      <div class="card-body">
        <h3 class="card-title text-center mt-3">NFT Pokemon</h3>
        <p class="card-text mt-5">Catégorie : </p>
        <p class="card-text">Sous catégorie : </p>
        <p class="card-text mt-3">Date : </p>
        <button type="button" class="btn btn-lg m-3 px-4"><span>0.25 ETH </span></button>
      </div>
    </div>
  </div>
</div>
<!-- / card -->
